/SimpleBrowser/Properties/Resources.resources
/SimpleBrowser.Mono.userprefs
axefrogcore/*
debug/*
release/*
Bin
Bin/*
obj/*
bin
bin/*
obj
*.csuser
*.suo
*.ReSharper
*.user
*.tmp
*.db
*.orig
*.bak
.hg/*
*.nupkg
packages/Moq.*
packages/NUnit.*
*.ncrunchsolution
*/StyleCop.Cache